<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    
</head>
<body>
    <span class = "grey-box"> let's find you a roomate!"</span>
    <span class = "blue-box">"yes please..."</span>
    <p>Test</p>
    
</body>
</html>
